
.hotel_container {
    width: 1142px;
    margin: 0 auto; 
}

.houtel_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
}

.houtel_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}

.houtel_item_link {
    display: block;
    padding: 30px 20px;
    text-decoration: none;
    background-color: #121212;
    overflow: hidden;
    position: relative;
}

.houtel_item_link:hover,
.houtel_item_link:hover .houtel_item_date {
    text-decoration: none;
    color: #FFF;
}

.houtel_item_link:hover .houtel_item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}
.houtel_item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #FFF;

    z-index: 2;
    position: relative;
}
.houtel_item_date-box {
    font-size: 18px;
    color: #FFF;

    z-index: 2;
    position: relative;
}
.houtel_item_date {
    font-weight: bold;
    color: #f9b234;

    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}
.houtel_item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}


@media only screen and (max-width: 979px) {
    .houtel_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }
    .houtel_item_title {
        font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .hotel_container {
        width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .houtel_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .houtel_item_title {
        min-height: 72px;
        line-height: 1;
    
        font-size: 24px;
    }
    .houtel_item_link {
        padding: 22px 40px;
    }
    .houtel_item_date-box {
        font-size: 16px;
    }
}